/* Variables */
:root {
    --primary-color: #007BFF;
    --text-color: #fff;
    --background-light: #f8f9fa;
    --background-dark: #333;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    overflow: hidden; /* Empêche le défilement par défaut */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--background-dark);
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

header nav ul li a:hover {
    color: var(--primary-color);
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#portfolio {
    background: var(--primary-color);
    color: var(--text-color);
}

#blog {
    background: var(--background-light);
    color: var(--background-dark);
}

#contact {
    background: var(--background-dark);
    color: var(--text-color);
}

footer {
    background: var(--background-dark);
    color: var(--text-color);
    text-align: center;
    padding: 1rem 0;
}
